@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Varela+Round&display=swap');


body {
    background: rgb(255, 172, 172);
    background: linear-gradient(135deg, rgba(255, 172, 172, 1) 0%, rgba(251, 255, 177, 1) 100%);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
}

nav {
    font-family: 'Varela Round', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 55px;
    background-color: black;
}

nav ul li {
    padding: 0px 12px;
}

.container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Chivo Mono', monospace;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 75vh;
}

@media screen and (max-width: 480px) {
    .song-list h1 {
        font-size: 1.9rem;
        margin: 30px 0 0 0;
    }

    .song-name {
        /* font-size: 0.9rem; */
        overflow: hidden;
    }

    .song-info-cont {
        display: none;
    }

    .container {
        padding: 10px 35px;
    }

    nav ul li:nth-child(2),
    nav ul li:nth-child(3) {
        display: none;
    }
}

.song-item-container {
    margin-top: 75px;
}

.song-item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 12px 0;
    border-radius: 20px;
}

.song-item img {
    width: 35px;
    border-radius: 50%;
    margin: 0 12px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}


.brand img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 0 8px;
}

.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myProgressBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

.song-info-cont {
    position: absolute;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

@media screen and (max-width: 480px) {
    .song-info-cont {
        display: none;
    }
}

.song-info-cont img {
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}